html, body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card {
    padding: 1em;
}

.read-the-docs {
    color: #888;
}

.logo {
    height: 4em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.clickable-header {
    cursor: pointer;
    color: darkblue;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0;
}

.expand-button {
    font-weight: bold;
}