html {
    height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 90px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card {
    padding: 1em;
}

.read-the-docs {
    color: #888;
}

.logo {
    height: 4em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar-nav {
    align-items: center;
}

.clickable-header {
    cursor: pointer;
    color: darkblue;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0;
}

.expand-button {
    font-weight: bold;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-fill {
    flex: 1;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #6c757d;
    width: 100%;
    padding: 10px 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logout-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}