html {
    height: 100%;
    background-color: #0d1117;
    color: #c9d1d9;
}

body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #0d1117;

}

.card, .modal-content {
    padding: 1em;
    background-color: #161b22;
    color: #c9d1d9;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    color: #fff;
}

.card-link {
    transition: transform 0.2s ease-in-out;
}

.card-link:hover {
    transform: scale(1.05);
}

.logo {
    height: 4em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em rgb(100, 108, 255));
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em rgb(97, 218, 251));
}

.navbar-nav {
    align-items: center;
    color: #c9d1d9;
}

.expand-button {
    font-weight: bold;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-fill {
    flex: 1;
    background-color: #0d1117;
    padding-top: 60px;
    padding-bottom: 60px;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #21262d;
    color: #c9d1d9;
    width: 100%;
    padding: 10px 50px;
    border-bottom: 1px solid #3d4652;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #21262d;
    color: #c9d1d9;
    height: 90px;
}

.footer a {
    color: #9e54f8;
}

.footer a:hover {
    color: #aa70f1;
}

.logout-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button.btn-primary {
    background-color: transparent;
    border-color: #601eaf;
    color: #c9d1d9;
}

button.btn-primary:hover {
    background-color: transparent;
    border-color: #9e54f8;
    color: #fff;
}

button.btn-primary:disabled {
    background-color: transparent;
    border-color: rgba(158, 84, 248, 0.34);
    color: #888;
}

button.btn-warning {
    background-color: transparent;
    border-color: #ab8305;
    color: #c9d1d9;
}

button.btn-warning:hover {
    background-color: transparent;
    border-color: #eccd69;
    color: #fff;
}

button.btn-danger {
    background-color: transparent;
    border-color: #a6221f;
    color: #c9d1d9;
}

button.btn-danger:hover {
    background-color: transparent;
    border-color: #ff2c2a;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #c9d1d9 !important;
    font-size: 15px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #bb86fc !important;
}

.your-cars-text {
     color: #c9d1d9;
 }

.car-header h2, h5, p{
    color: #c9d1d9;
}

.work-group span,p{
    color: #c9d1d9;
}

.car-detail-header {
    color: #c9d1d9;
}

.clickable-header {
    background: #21262d;
    border: 1px solid #3d4652;
    color: #c9d1d9;
    font-size: 1.1rem;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.clickable-header:hover {
    transform: scale(1.025);
}

.list-group-item {
    background-color: transparent !important;
    color: #c9d1d9;
    border: 1px solid #444 !important;
    transition: transform 0.2s ease-in-out;
}

.amount-info {
    color: #c9d1d9;
}

.work-modal .modal-content {
    background-color: #2d2d2d;
    color: #c9d1d9;
    border-radius: 8px;
    padding: 20px;
}
.work-modal .modal-header {
    background-color: #2d2d2d;
    border-bottom: 1px solid #444;
}

.work-modal .modal-footer {
    background-color: #2d2d2d;
    border-top: 1px solid #444;
}

.work-modal .modal-title {
    color: #c9d1d9;
}
.custom-input {
    background-color: #333 !important;
    color: #c9d1d9 !important;
    border: 1px solid #555 !important;
    border-radius: 4px !important;
}

.custom-input:focus {
    border-color: #9c9c9c !important;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2) !important;
}

.form-control::placeholder {
    color: rgba(139, 148, 158, 0.37) !important;
}

.logout-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    background-color: #181818;
    color: #f8f9fa;
    margin: 0 !important;
    padding: 0 !important;
}