.list-group-header {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.list-group-header__description {
    flex-direction: column;
}

.header-container {
     display: flex;
     justify-content: space-between;
     width: 100%;
 }

.header-container__nav {
    display: flex;
}

.header-container__nav .navbar-nav {
    align-items: center;
}